<nav class="navbar navbar-expand navbar-light navbar-bg">

    {# Bouton pour ouvrir/fermer la sidebar sur mobile #}
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">

            {# ---- Notifications ---- #}
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="bell"></i>
                        <span class="indicator">3</span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    <div class="dropdown-menu-header">3 Nouvelles notifications</div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="text-success" data-feather="user-plus"></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-dark">Nouvel élève inscrit</div>
                                    <div class="text-muted small mt-1">Un élève vient de créer son compte.</div>
                                    <div class="text-muted small mt-1">Il y a 10 min</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="text-warning" data-feather="book-open"></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-dark">Nouvelle filière ajoutée</div>
                                    <div class="text-muted small mt-1">La filière Informatique a été mise à jour.</div>
                                    <div class="text-muted small mt-1">Il y a 2h</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="text-primary" data-feather="star"></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-dark">Nouveau mentor disponible</div>
                                    <div class="text-muted small mt-1">Un professionnel rejoint la communauté.</div>
                                    <div class="text-muted small mt-1">Il y a 5h</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Voir toutes les notifications</a>
                    </div>
                </div>
            </li>

            {# ---- Profil admin ---- #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <i class="align-middle me-1" data-feather="user"></i>
                    <span class="text-dark">Administrateur</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">
                        <i class="align-middle me-1" data-feather="user"></i> Mon profil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="align-middle me-1" data-feather="log-out"></i> Déconnexion
                    </a>
                </div>
            </li>

        </ul>
    </div>
</nav>
