{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Filière - SchoolPrepar{% endblock %}

{% block page_header %}
    <h1 class=\"h3 mb-3\"><strong>Nouvelle Filière</strong></h1>
{% endblock %}

{% block body %}
<div class=\"row justify-content-center\">
    <div class=\"col-12 col-lg-8\">
        <div class=\"card\">
            <div class=\"card-header\">
                <h5 class=\"card-title mb-0\">Ajouter une nouvelle filière</h5>
            </div>
            <div class=\"card-body\">
                <form method=\"post\" action=\"{{ path('admin_filiere_new') }}\">
                    {# Champs #}
                    <div class=\"mb-3\">
                        <label for=\"nom\" class=\"form-label\">Nom de la filière <span class=\"text-danger\">*</span></label>
                        <input type=\"text\" class=\"form-control\" id=\"nom\" name=\"nom\" required>
                    </div>
                    
                    <div class=\"mb-3\">
                        <label for=\"domaine\" class=\"form-label\">Domaine <span class=\"text-danger\">*</span></label>
                        <input type=\"text\" class=\"form-control\" id=\"domaine\" name=\"domaine\" required>
                    </div>
                    
                    <div class=\"mb-3\">
                        <label for=\"etablissement\" class=\"form-label\">Établissement <span class=\"text-danger\">*</span></label>
                        <input type=\"text\" class=\"form-control\" id=\"etablissement\" name=\"etablissement\" required>
                    </div>
                    
                    <div class=\"mb-3\">
                        <label for=\"duree\" class=\"form-label\">Durée <span class=\"text-danger\">*</span></label>
                        <input type=\"text\" class=\"form-control\" id=\"duree\" name=\"duree\" placeholder=\"ex: 3 ans\" required>
                    </div>
                    
                    {# Boutons #}
                    <div class=\"d-flex justify-content-between\">
                        <a href=\"{{ path('admin_filiere') }}\" class=\"btn btn-secondary\">Annuler</a>
                        <button type=\"submit\" class=\"btn btn-primary\">Créer la filière</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
