{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel Établissement - SchoolPrepar{% endblock %}

{% block page_header %}
    <h1 class=\"h3 mb-3\"><strong>Nouvel Établissement</strong></h1>
{% endblock %}

{% block body %}
<div class=\"row justify-content-center\">
    <div class=\"col-12 col-lg-8\">
        <div class=\"card\">
            <div class=\"card-header\">
                <h5 class=\"card-title mb-0\">Ajouter un nouvel établissement</h5>
            </div>
            <div class=\"card-body\">
                <form method=\"post\" action=\"{{ path('admin_etablissement_new') }}\">
                    {# Champs #}
                    <div class=\"mb-3\">
                        <label for=\"nom\" class=\"form-label\">Nom <span class=\"text-danger\">*</span></label>
                        <input type=\"text\" class=\"form-control\" id=\"nom\" name=\"nom\" required>
                    </div>
                    
                    <div class=\"mb-3\">
                        <label for=\"type\" class=\"form-label\">Type <span class=\"text-danger\">*</span></label>
                        <select class=\"form-select\" id=\"type\" name=\"type\" required>
                            <option value=\"\">Choisir un type...</option>
                            <option value=\"Lycée\">Lycée</option>
                            <option value=\"Université\">Université</option>
                            <option value=\"Grande école\">Grande école</option>
                            <option value=\"Institut\">Institut</option>
                        </select>
                    </div>
                    
                    <div class=\"mb-3\">
                        <label for=\"ville\" class=\"form-label\">Ville <span class=\"text-danger\">*</span></label>
                        <input type=\"text\" class=\"form-control\" id=\"ville\" name=\"ville\" required>
                    </div>
                    
                    {# Boutons #}
                    <div class=\"d-flex justify-content-between\">
                        <a href=\"{{ path('admin_etablissement') }}\" class=\"btn btn-secondary\">Annuler</a>
                        <button type=\"submit\" class=\"btn btn-primary\">Créer l'établissement</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
