<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %} SchoolPrepar {% endblock %}</title>

	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
        {% include 'front/partials/nav.html.twig' %}

			<main class="content">
				<div class="container-fluid p-0">
                    
					{% block Titre_de_page%}{% endblock %}

                    {% block Contenu_principal%}{% endblock %}

				</div>
			</main>
            {% include 'front/partials/footer.html.twig' %}

		</div>
	</div>

	<script src="{{ asset('js/app.js') }}"></script>

    {% block javascripts %}{% endblock %}

</body>

</html>